!!! 5
%html
        %head
                %title Elena project
                = stylesheet_link_tag    'application', media: 'all'
                = javascript_include_tag 'application'
                = csrf_meta_tags

        %body
                %nav.navbar.navbar-default
                        .container
                                .navbar-brand= link_to "Elena project", root_path
                                %ul.nav.navbar-nav.navbar-right
                                        %li= link_to "Dodaj nowy przepis", new_recipe_path
                                        
                .container
                        - flash.each do |name, msg|
                                = content_tag :div, msg, class: "alert"
                = yield

